@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

body{
    background-color:#000;
    color: #FFF;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    text-align: center;
}
.container-fluid{
    display: flex;
    justify-content: center;
}

#counter{
    font-size: 20px;
}

#gameInstructions {
    font-size: 1.5em;
}

.jumbotron-fluid{
    background-color: #669933; 
    color: #000;
    padding-bottom: 20px;
 }

 .btn-secondary{
    background-color: #669933;
}

.btn { 
    display: block;
    height: 50px;
    margin-top: 20px;
    background-color: #669933;
    border: none;
    color: #000;
}

.btn:hover{
    color: #FFF;
    background-color: #84a85f;

}

#winningImage {
    display: block;
    width: 30%;
    height: 30%;
    margin: auto;
}

.winningImageCont{
    margin-top: 20px;
}
 
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.masthead-brand{
   /* font-family: 'Orbitron', sans-serif;*/
    font-family: 'News Cycle', sans-serif;
}

#question{
    /* font-family: 'Orbitron', sans-serif;*/
     font-family: 'News Cycle', sans-serif;
     font-size: 34px;
}    

.cover-container{
   /* background: rgb(70,166,101);*/
    /*  margin: auto;*/
    background: rgb(250, 235, 166);
   /* background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);*/
}

ul {
    list-style-type:none;
}





#headerImage{
    display: block;
    margin-top: 30px;
}

.text-center{
    width: 960px;
    /*  margin: auto;*/
    background: rgb(209,169,29);
}

#quiz {
    display: none;
}

#endGameStats {
    display: none;
}

#quiz {
    margin-bottom: 20px;
}

#endGameStats{
    font-family: 'News Cycle', sans-serif;
    font-size: 24px;
}
